

header{
	background-color: white;
	height: 100px;
}
footer{
	background-color: white;
	height: 100px;
}

footer *{
	margin: 10px;
}
.header-left{
 	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap; /* запретить перенос элементов на новую строку */
	
}
.header-left *{
	margin: 10px;
}
.header-right{
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap; /* запретить перенос элементов на новую строку */
	margin-right: 5px;
	margin-left: 5px;

}
.header-right *{
	margin: 10px;
}


#badgeCart{
	background: red;
	width: 16px;
	height: 16px;
	border-radius: 20px;
	position: absolute;
	top: 0;
	margin-top: 47px;
	font-size: 12px;

	padding-bottom: 2px;
	display: flex;
	justify-content: center;
	align-items: center;

	color: white;

	font-size: 16px;
	font-weight: 500;
}

a#tmcrypted{
	font-size: 18px;
	text-decoration:underline;
	color: rgb(79, 103, 103)	;
}
a#tmcrypted:hover{

	color: rgb(63, 41, 81)	;
}