



.orders-cards{
	display: flex;
	flex-direction: column;
	
	justify-content: start;
	align-items: start; 
	width: 100%;

	padding-left: 20px;
	padding-right: 20px;
	
}

.orderCard{
	margin-top: 20px;

	min-height: 70px;
	min-width: 100%;
	background-color: rgb(231, 231, 231);

	padding-left: 20px;
	padding-right: 16px;
	padding-top: 12px;
	padding-bottom: 12px;

	border-radius: 20px;
}



.BigOrderComp{
	background: linear-gradient(135deg, #e6e6e6 30%, #f5f5f5 70%);
	min-height: 95vh;
	padding: 20px;
	
}

.orderBigPage-cont{
	min-height: 95vh;

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.orderElemBigPage{
	background-color: #ffffff;
	min-height: 500px;
	width: 700px;
	border-radius: 30px;
	padding: 25px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}









  
  #payBtnBigOrder {
	background: #4caf50;
	color: white;
	width: 225px;
	height: 50px;
	border-radius: 15px;
	border: none;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	margin-top: 20px;
  }
  
  #payBtnBigOrder:hover {
	background-color: #2c7f30;
  }

  #statusPaymetProcess{
	color: rgb(229, 169, 73);
  }

  #statusPaymetReady{
	color: #4caf50;

  }

  #totalStatus{
	display: flex;
	justify-content: center;
  }

  .bottomOrderPage{
	display: flex;
	flex-direction: column;
	align-items: start;
	
	margin-top: 20px;
	margin-bottom: 20px;

	font-size: 18px;
  }






  
.card-pay{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: start;
	justify-content: space-between;
	width: 100%;
	height: 350px;
}

.rccs{
	align-self: start;
	padding-top: 44px;
	/* justify-self: center; */

	user-select: none;
}


.credit-card-form{
	align-self: start;
	margin-right: 40px;
}

.form-group{
	margin-bottom: 15px;
}


#btn-pay-order{
	width: 100%;
}








/* Ниже идет профиль заказы мои */
.order-cards{
	width: 100%;
	margin-top: 20px;
}
.order-card{
	width: 100%;

	background-color: white;
	margin-bottom: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень для эффекта приподнятости */
	padding: 15px; /* Внутренний отступ */
	transition: transform 0.3s, box-shadow 0.3s; /* Плавные анимации */

	border-radius: 10px;

	cursor: pointer;
}
.order-card:hover{
	transform: translateY(-3px); /* Анимация при наведении */
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.order-details{
	display: flex;
	justify-content: space-between;
	height: 30px;
}
.order-details-second{
	display: flex;
	align-items: end;
	flex-direction: column;
}
.order-details-first{
	display: flex;
	flex-direction: column;

}
.order-details-second p {
	margin-bottom: 10px;
}


.order-item{

	display: flex;
	justify-content: start;
	align-items: center;
	margin-top: 5px;

}

.item-details{
	display: flex;
	justify-content: start;
	align-items: center;
}
.item-details p{
	margin-left: 10px;
	
}



.item-image{
	width: 25px;
	height: 25px;
}