.profileComp{
	background: linear-gradient(135deg, #e6e6e6 10px, #f3f3f3 80%);
	min-height: 95vh;
}

.profileCont{
	flex-direction: column;
	align-items: start;
	justify-content: start;
	flex-direction: row;
}

.prof-left{
	display: flex;
	flex-direction: column;
	width: 25%;
	margin-top: 30px;
	margin-right: 2%;

}

.prof-left-first{
	min-height:300px;
	width: 100%;

	background-color: rgb(207, 207, 207);
	border-radius: 35px;
	padding: 15px;

	align-self: start;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;

}
.prof-left-second{
	width: 100%;
	min-height: 300px;

	margin-top: 30px;
	background-color: rgb(207, 207, 207);
	border-radius: 35px;
	padding: 15px;

	align-self: start;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;

}

.imgProfileDiv{
	display: flex;
	align-self: center;
	flex-direction: column;
	text-align: center;
	margin-bottom: 20px;
}
#imgProfile{
	width: 150px;
	height: 150px;
	border-radius: 90px;
}
#profInfoP1{
	font-size: 18px;
	font-weight: 400;
}
#profInfoP2{
	font-size: 16px;
}
#profInfoP3{
	font-size: 14px;
}


.navigationProfile{
	margin-top: 30px;
}


.prof-right{
	width: 73%;
	min-height: 500px;
	background-color: rgb(207, 207, 207);
	border-radius: 35px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 15px;


	align-self: start;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;


}






