@keyframes imageShrink {
	from {
	  width: 440px;
	  height: 440px; 
	  opacity: 0;
	  border-radius: 45px;

	}
	to {
	  width: 280px; /* Adjust the width to your desired final size */
	  height: 280px; /* Adjust the height to your desired final size */
	  opacity: 0.9;
	  border-radius: 45px;

	}
	to {
		width: 220px; /* Adjust the width to your desired final size */
		height: 220px; /* Adjust the height to your desired final size */
		opacity: 1;
		border-radius: 45px;

	  }
  }
  
  @keyframes textFadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }

.softsComp{
	background-color: rgba(222, 222, 222, 0.929);
	min-height: 95vh;

}

.container-softs{
	flex-direction: column;
	align-items: start;
	justify-content: start;

}


.softs-top{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: flex-start;
	margin-top: 20px;
	margin-bottom: 30px;
}

.search-softs *{
	margin-left: 10px;
}

.search-softs button {
	width: 80px;
	height: 30px;
}
.search-softs button {
	width: 80px;
	height: 30px;
}
.search-softs Input {
	width: 160px;
	height: 30px;
}




.softs-filters{
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.softs-filters-right button{
	width: 150px;
	height: 50px;
	border-radius: 25px;
	cursor: pointer;

	background-color: #cbc4c4 ;
}
.softs-filters-right button:hover{
	background-color: #e06060;
	width: 150px;
	height: 50px;
	border-radius: 25px;
	cursor: pointer;
}


#sortByPrice{
	min-width: 150px;
}
#selectedCategory{
	min-width: 100px;
}
#itemsPerPage{
	min-width: 120px;
}
#itemsPerPage-label{
	min-width: 250px;

}
.results-search-softs #search-result-text{
	margin-top: 20px;
	margin-left: 20px;

}
.softs-main #nothingFound{
	margin-top: 20px;
	margin-left: 20px;
}

.softs-main{
	width: 1200px;
	display: flex;
	flex-direction: row;

}

.softs-cards{

	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: start;
	flex-wrap: wrap;

	min-height: 680px;
}

.pagination-container{
	margin-bottom: 20px;
}


.softs-card{
	background-color: rgba(246, 245, 245, 0.661);
	border-radius: 20px;
	width: 200px;
	height: 300px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	transition: transform 0.3s, box-shadow 0.6s; /* Добавляем анимацию изменения тени */	


	/* Чтобы сделать элементы интерактивными и готовыми к клику */
	cursor: pointer;

	/* Чтобы заблокировать выделение текста  */
	user-select: none; 
}

.softs-card:hover{
	transform: scale(1.1); /* Увеличиваем размер карточки в 1.1 раза при наведении */
	box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.25); /* Добавляем тень при наведении */
	
}


.card-top{
	height: 40%;
		padding-top: 15px;

}
.card-top img{
	width: 100%;
	height: 100%;
	border-radius: 15px;
}

.card-center{
	color: black;
}
.cardPrice{
	display: flex;
	align-items: start;
	justify-content: start;
}

.cardPrice #price{
	color: red;
	font-weight: 600;
}
.card-bottom{
	width: 100%;
	padding: 15px;

}
.card-bottom button{
	cursor: pointer;
	border-radius:22px;
	/* padding: 15px; */
	width: 100%;
	height: 45px;
	font-size: 14px;
	background: #6ca79a;
}
.softs-card:hover .aboutCard{
	color: #fff;
	background: #42D0A9;
	font-size: 19px;
	height: 65px;

}

/* .card-bottom button:hover{


	
} */


/* Единичные страницы товаров */
.container-big-soft{
	background: rgb(236, 236, 236);
	min-height: 700px;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 20px;
	border-radius: 20px;
	padding: 30px;

	position: relative;
  	overflow: hidden;
}


.upside-soft{
	flex-direction: row;
	display: flex;
	align-items: start;
	justify-content: space-between;

}

.bigSoft-leftside{
	display: flex;
	flex-direction: row;
	align-items: flex-start;

}
.bigSoft-leftside img{
	position: relative;
	top: 0;
	left: 0;
	width: 220px;
	border-radius: 45px;
	animation: imageShrink 0.8s forwards;
}








.nameNcategory{
	margin-left: 35px;
	/* margin-top: 15px; */

}
.nameNcategory h1{
	font-weight: 600;

	opacity: 0;
	animation: textFadeIn 0.6s forwards;
	animation-delay: 0.4s; /* Start after image animation */
}
.nameNcategory h3{
	font-weight: 400;
	
	opacity: 0;
	animation: textFadeIn 0.6s forwards;
	animation-delay: 0.6s; /* Start after image animation */
}


.bigSoft-rightside{
	min-height:220px ;
	min-width: 180px;
	/* background: rgb(255, 255, 255); */
	border-radius: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;

	display: flex;
	align-items: space-between;
	justify-content: space-between;
	flex-direction: column;
}

#PriceText{
	font-size: 20px;

	opacity: 0;
	animation: textFadeIn 0.6s forwards;
	animation-delay: 0.8s; /* Start after image animation */
}
#PriceNumRed{
	font-size: 20px;
	color: #e12b2b;
	
	opacity: 0;
	animation: textFadeIn 0.6s forwards;
	animation-delay: 0.9s; /* Start after image animation */
}
#btnBuyGood{
	background-color: #7ED321;
	width: 100%;
	height: 2.5em;
	border-radius: 20px;
	font-size: 18px;
	font-weight: 500;
	

	/* Чтобы сделать элементы интерактивными и готовыми к клику */
	cursor: pointer;

	/* Чтобы заблокировать выделение текста  */
	user-select: none; 


	opacity: 0;
	animation: textFadeIn 0.6s forwards;
	animation-delay: 1s; /* Start after image animation */
}			

#btnBuyGood:hover{
	color: #fff;
	background: #6BB61D;
	font-size: 25px;
	box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.15); /* Добавляем тень при наведении */

}

#btnBuyGooddis{
	background-color: #7ED321;
	width: 100%;
	height: 2.5em;
	border-radius: 20px;
	font-size: 18px;
	font-weight: 500;
	
	/* Чтобы заблокировать выделение текста  */
	user-select: none; 


	opacity: 0;
	animation: textFadeIn 0.6s forwards;
	animation-delay: 1s; /* Start after image animation */

}


.description-soft{
	display: flex;
	justify-content: start;
	align-items: start;
	flex-direction: column;
}

#desc-name-soft-page{
	font-size: 22px;
	margin-top: 30px;
	margin-left: 5px;

	opacity: 0;
	animation: textFadeIn 0.6s forwards;
	animation-delay: 1.1s; /* Start after image animation */
}

#desc-content-soft-page{
	font-size: 18px;
	margin-top: 30px;
	margin-left: 5px;

	opacity: 0;
	animation: textFadeIn 0.6s forwards;
	animation-delay: 1.2s; /* Start after image animation */

}



/*  comment section */

.commentSection{
	background: rgb(236, 236, 236);
	min-height: 400px;
	width: 100%;
	margin-bottom: 50px;
	border-radius: 20px;
	padding: 30px;

	position: relative;
  	overflow: hidden;

	  opacity: 0;
	  animation: textFadeIn 0.6s forwards;
	  animation-delay: 1.3s; /* Start after image animation */
}

.commentSection h2{
	font-weight: 500;
}





.commentForm{
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
}

#reviewInput{
	min-width: 400px;
	min-height: 50px;
	border-radius:15px;


	padding: 10px; /* Отступы внутри блока */
	resize: none; /* Позволяет изменять высоту блока по вертикали */


	text-align: start;
	white-space: pre-line; /* Переносить текст по местам переноса строки */
	word-wrap: break-word; /* Ра awsdfзбивать длинные слова */
}





#commentButton{
	
	background: #4CAF50; /* Зеленый */
	color: white;

	width: 100px;
	height: 40px;
	border-radius:15px;
	border: none;
	
	align-self: end;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;

	margin-left: 20px;	

}

#commentButton:not(:disabled):hover {
	background-color: #2c7f30; /* Темно-зеленый */
}
  
#commentButton:disabled {
	background-color: #9eb998; /* Серый */
	cursor: not-allowed;
}



.comment-item{
	display: flex;
	margin-top: 20px;
}

.avatarComment{
	width: 50px;
	height: 50px;
	margin-right: 10px;
}